:root {
  --primary: #0066ff;
  --secondary: #4f38db;
  --hover: #0045ad;
  --gray: #586283;
  --light-gray: #727ea3;
  --button-y: 0.9rem;
  --button-x: 1.4rem;
}
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);
@font-face {
  font-family: "GTWalsheim Bold";
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/GTWalsheimPro-Bold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GTWalsheim Regular";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/GTWalsheimPro-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GTWalsheim Medium";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/GTWalsheimPro-Medium.ttf) format("truetype");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: "GTWalsheim Medium", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-stretch: normal;
  letter-spacing: -0.32px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

/* Mobile Style */
.App_Gray {
  color: #b6b6b6;
}
.Active_Selector {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Active_Selector svg {
  margin-top: 0.3rem;
}
.Disabled_Selector {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0.25;
}
.Disabled_Selector svg {
  margin-top: 0.3rem;
}
.App_Container {
  width: 90vw;
  margin-inline: auto;
  margin-top: 4.75rem;
  z-index: 0;
}
.App_NavLogo {
  max-height: 1.9rem;
}
.App_Nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-inline: 1.8rem;
  /* border-bottom: 1px solid red; */
}
.App_NavButton_Mobile {
  width: min-content;
}
.App_Use_Main {
  width: min-content;
  margin-inline: auto;
  /* padding-inline: 3vw; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  margin-top: 4.5rem;
}
.App_Use {
  display: flex;
  flex-direction: column;
  align-items: top;
}
.App_Single {
  /* border: 2px solid red; */
  margin-left: -2rem;
  display: flex;
  flex-direction: row;
}
.App_Text {
  width: 65vw;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-self: flex-start;
}
.App_Text h1 {
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: -1rem;
  color: var(--primary);
  cursor: pointer;
  margin-top: -0.05rem;
}
.App_Text p {
  font-family: "GTWalsheim Regular", "Inter", sans-serif;
  color: var(--gray);
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin-top: -0.2rem;
}
.App_NavLink,
.App_NavButton {
  font-family: "GTWalsheim Regular", "Inter", sans-serif;
  display: none;
  cursor: pointer;
}
.Btn_White {
  width: min-content;
  margin-inline: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding-top: var(--button-y);
  padding-bottom: var(--button-y);
  padding-inline: var(--button-x);
  cursor: pointer;
}
.Btn_Blue {
  font-family: "GTWalsheim Medium", "Inter", sans-serif;
  margin-inline: 0.5rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 0.45rem;
  font-size: 1rem;
  padding-top: var(--button-y);
  padding-bottom: var(--button-y);
  padding-inline: var(--button-x);
}
.Btn_Blue:hover {
  background-color: var(--hover);
  color: white;
  transition: all 0.25s ease-in-out;
}
.Blue_Container {
  background-color: var(--primary);
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}
.Blue_Section {
  width: 86vw;
  margin-inline: auto;
}
.Blue_Section h1 {
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  color: #fff;
  font-size: 2rem;
}
.Blue_Section h3 {
  font-family: "GTWalsheim Medium", "Inter", sans-serif;
  color: white;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.6rem;
}
.Blue_Section a {
  display: inline-block;
  width: fit-content;
  font-family: "GTWalsheim Medium", "Inter", sans-serif;
  font-size: 1.25rem;
  color: var(--primary);
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 1.2rem;
  border-radius: 6px;
  margin-top: 1.5vh;
}
.Blue_Section a:hover {
  background-color: var(--hover);
  color: white;
  transition: all 0.25s ease-in-out;
}
.Blue_Section img {
  display: none;
}

.CTA {
  display: flex;
  align-items: center;
}
.CTA_Arrow {
  margin-left: 1rem;
  animation: 650ms BounceArrow ease-in-out alternate infinite;
}
footer {
  padding-top: 2.3rem;
  padding-bottom: 4rem;
}
.Footer_Container {
  width: 80vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
.Footer_Brand {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.Footer_Brand h2 {
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  font-size: 1.21rem;
  margin-bottom: -0.05rem;
}
.Footer_Brand h3 {
  font-family: "GTWalsheim Regular", "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--light-gray);
}
.Footer_Links {
  display: flex;
  flex-direction: column;
}
.Footer_Links div {
  margin-top: 2.2rem;
}
.Footer_Links div h2 {
  font-family: "GTWalsheim Regular", "Inter", sans-serif;
  font-size: 1.1rem;
}
.Footer_Links div a {
  display: block;
  color: var(--light-gray);
  margin-top: 2rem;
}
.Footer_Icons {
  display: flex;
  padding-top: 0.6rem;
  padding-bottom: 0.9rem;
}
.Footer_Icons img {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  margin-right: 1rem;
}
.Footer_Mail {
  font-family: "GTWalsheim Regular", "Inter", sans-serif;
  color: var(--light-gray);
  font-size: 0.95rem;
}
.Flw_Logo {
  height: 1.3rem;
  margin-left: 3px;
}
.Gray_Container {
  background-color: #fbfbfb;
  padding-top: 5rem;
  padding-bottom: 7rem;
  margin-top: 3.5rem;
}
.Gray_Section {
  width: 86vw;
  margin-inline: auto;
}
.Gray_Container h1 {
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.Gray_Container h2 {
  width: 85%;
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  font-size: 2rem;
}
.Hero_Text {
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  font-size: 3.95rem;
  line-height: 4.6rem;
  text-align: center;
}
.Hero_Text:nth-child(2) {
  margin-top: -2rem;
}
.Hero_Color {
  color: var(--secondary);
}
.Hero_Text_Small {
  max-width: 85%;
  margin-inline: auto;
  font-family: "GTWalsheim Regular", "Inter", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: var(--gray);
}
.Hero_Partner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-size: 0.9rem;
}
.Hero_Image {
  position: relative;
  width: 95%;
  margin-inline: auto;
  height: min-content;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: 0px -2px 50px -25px rgba(88, 98, 132, 0.4);
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
}
.Hero_Image_Side {
  position: relative;
  width: 100%;
  z-index: 1;
}
.Hero_Image_Main {
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 0;
}
.Hero_Connect {
  font-family: "GTWalsheim Bold", "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0rem;
}
.Line_Short {
  width: 0.5rem;
  background-color: var(--primary);
  padding: 1px;
}
.Line_Long {
  margin-top: 0.4rem;
  width: 1.5rem;
  background-color: var(--primary);
  padding: 1px;
}
.Phone {
  max-width: 65vw;
  margin-top: 4vh;
  object-fit: contain;
  margin-inline: auto;
}

/* Scroll animation */
@keyframes BounceArrow {
  100% {
    transform: translateX(1.2rem);
  }
}
